.product-grid{
display: grid;
grid-template-columns: repeat(auto-fit),minmax(200px,1fr);
gap: 20px;
}
.product-card{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;

}
.product-card img{
    max-width: 100%;
    height: auto;
}
.product-card h3{
    margin-top: 10px;

}
.product-card p{
    font-size: 18px;
    font-weight: bold;

}
